
#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px ;
    display: block;

}
.float{
  float: left;
  margin-top:-550px ;
  margin-left: 80px;
}
.text{
  float: left;
  margin-top:-600px;
  margin-left:80px;
}
#btn{
  float: left;
  margin-top:-500px;
  margin-left:350px;
}
